
/*PAGE CONTENT =========================================================================*/

#app{ 
  display: flex;
  gap: var(--spacing-md);
  flex-wrap: nowrap;
  /* height: 100vh; */
}

/*menu vertical izquierda-----------------------------------------------*/
nav{
  flex-grow: 1;
  max-width: 290px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  padding: var(--spacing-sm);
  border-right: var(--border-line-300) solid var(--color-neutral-800);
}
nav a {
  font-family: var(--font-family-bold);
  font-size: var(--font-size-sm);
  text-decoration: none;
}
.nav-icon::before {
  content: '';
  display: inline-block;
  height: 42px;
  margin-right: 6px;
  background-size: cover;
  width: var(--size-lg);
}

.nav-icon[data-route="learn"]::before {
  background-image: url('../assets/icon/home.svg');
}

.nav-icon[data-route="profile"]::before {
  background-image: url('../assets/icon/user.svg');
}

/* .navbar_left:nth-child(1){
    flex-grow: 1;
    max-width: 290px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    padding: var(--spacing-sm);
    border-right: var(--border-line-300) solid var(--color-neutral-800);
} */
.logo{
  color: var(--color-primary-500);
  text-align: center;
}
.hidden {
  display: none !important;
}
/*contenido principal-----------------------------------------------*/
.content_principal:nth-child(2){
  flex-grow: 2;
  padding-top: 20px;
}

/*menu vertical derecha-----------------------------------------------*/
.navbar_right{
  flex-grow: 1;
  max-width: 400px;
  padding-top: var(--spacing-sm);
  padding-right: var(--spacing-lg);
  display: flex;
  flex-direction: column;
  gap:var(--spacing-md);
}

.navbar_right_principal{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-md);    
}

.navbar_right_flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
}

#cardMenuCuenta h4 {
  padding-left: 2.3rem;
}

#cardMenuCuenta ul {
  padding-left: 2.3rem;
}

#cardMenuCuenta ul li {
  margin-bottom: 0.8rem;
}

#cardMenuCuenta ul li a {
  text-decoration: none;
  transition: color 0.3s;
}

#cardMenuCuenta ul li a:hover {
  color: var(--color-primary-500);
}
#cardMenuCuenta ul li a.active {
  color: var(--color-secondary-500);
}

.info_heart{
  display: flex;
  align-items: center;
  gap:var(--size-xs);
}
.info_heart_questions{
  padding: var(--size-xxs) var(--size-xs);
  display: flex;
  align-items: center;
  gap:var(--size-xxs);
}
.lessons-maps{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.lessons-maps button {
  position: relative;
  transition: left 0.3s ease;
}

/*Extras =========================================================================*/
.title{
  color: var(--color-neutral-50);
  text-transform: uppercase;
  letter-spacing: 0.02em;
  width: 100%;
}

.title-content{
  margin-top: var(--spacing-md);
  padding-bottom: var(--spacing-sm);
  border-bottom: var(--border-line-300) solid var(--color-neutral-800);
}

.title_unidad{
  color: var(--color-primary-200);
  text-transform: uppercase;
  width: 100%;
}
.card_numberUnidad:hover{
  cursor: pointer;
}

.subtitle{
  color: var(--color-neutral-50);
}
.flex{
  display: flex;
}
.flex-r{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-xs);
}

.flex-c{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.fgrow-1{
  flex-grow: 1;
  width: 50%;
}
.card-base{
  align-self: center;
  flex-direction: row;
  align-items: center;
}

.exp{
  width: 100%;
  height: var(--border-line-500);
  background-color: var(--color-neutral-400);
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.progress-20{
  height: 100%; 
  width: 20%;
  border-radius: var(--border-radius-sm);
  background-color:var(--color-primary-500); 
}

.progress-50{
  height: 100%; 
  width: 50%;
  border-radius: var(--border-radius-sm);
  background-color:var(--color-primary-500); 
}

.card_flash{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:var(--size-xs);
  width:100%;
}

.bar{
  width: 100%;
}

/* botones para actividades */
#button-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 1rem;
}

.oval-btn {
  width: 60px;
  height: 52px;
  border-radius: 50%;
  border: none;
  background-size: var(--size-md);
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  transform: translateY(0);
  position: relative;
  cursor: pointer;
}

.oval-btn i {
  pointer-events: none;
  z-index: 1;
}
.oval-btn.paw {
  background-image: url('../assets/icon/patita.svg');
}
.oval-btn.play {
  background-image: url('../assets/icon/pay.svg');
}
.oval-btn.trophy {
  background-image: url('../assets/icon/trofeo.svg');
}
.game-btn {
  width: 60px;
  height: 52px;
  border: none;
  background-size: var(--size-xxl);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}
.game-btn.blue {
  background-image: url('../assets/icon/game-blue.svg');
}
.game-btn.pink {
  background-image: url('../assets/icon/game-pink.svg');
}
.game-btn.yellow {
  background-image: url('../assets/icon/game-yellow.svg');
}
.game-btn.locked {
  background-image: url('../assets/icon/game-gray.svg');
  cursor: auto;
}
.oval-btn.blue {
  background-color: var(--color-primary-500);
  box-shadow:
    0 6px 0 var(--color-primary-700),
    0 10px 15px rgba(0, 0, 0, 0.2);
}
.oval-btn.pink {
  background-color: var(--color-secondary-500);
  box-shadow:
    0 6px 0 var(--color-secondary-700),
    0 10px 15px rgba(0, 0, 0, 0.2);
}
.oval-btn.yellow {
  background-color: var(--color-tertiary-500);
  box-shadow:
    0 6px 0 var(--color-tertiary-700),
    0 10px 15px rgba(0, 0, 0, 0.2);
}
.oval-btn.locked {
  background-color: var(--color-neutral-500);
  box-shadow:
    0 6px 0 var(--color-neutral-700),
    0 10px 15px rgba(0, 0, 0, 0.2);
  cursor: auto;
}
/* Animación "push" (hover simula presión) */
.oval-btn:hover:not(.locked),
.oval-btn:active:not(.locked),
.game-btn:hover:not(.game-btn.locked) {
  transform: translateY(4px);
}

/* view questions */
.head-question{
  display: flex;
  align-items: center;
  justify-content: center;
}
.close-btn {
  height: 28px;
  width: 28px;
  border: none;
  margin: var(--size-xs);
  background-image: url('../assets/icon/close.svg');
  background-size: var(--size-md);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.progress-bar-container {
  width: 60%;
  height: 14px;
  background-color: var(--color-neutral-400);
  border-radius: 5px;
  overflow: hidden;
}

.main-questions{
  flex: 1;
  padding: 0px 40px;
  max-width: 800px;
  margin: 0 auto;
  font-size: var(--font-size-xs);
  letter-spacing: 0.02em;
}

.mrevert {
  margin: revert;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 8px 12px 8px;
  background-color: var(--color-neutral-900);
  border:var(--border-line-200) solid var(--color-neutral-700);
  border-radius: var(--border-radius-xs);
  box-shadow: 0px 2px var(--color-neutral-700);
  cursor: pointer;
}

.left {
  grid-column: 1;
  justify-self: start;
  padding: 5px 12px;
  border:var(--border-line-100) solid var(--color-neutral-800);
  box-shadow: inset 1px 1px var(--color-neutral-800);
  border-radius: 5px;
}

.center {
  grid-column: 2;
  justify-self: center;
}

.option:hover {
  background-color: var(--color-neutral-600);
}

.option.selected {
  background-color: var(--color-primary-900);
  border: solid var(--color-primary-950);
  box-shadow: 0px 2px var(--color-primary-950);
}

/* img`question */
.options-img {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.img-vuew-question{
  height: 190px;
  padding-bottom: 10px;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid var(--color-neutral-700);
  background-color: var(--color-neutral-900);
  display: flex;
  align-items: center;
  height: 120px;
  gap: 20px;
  z-index: 1000;
}

footer.around {
  justify-content: space-around;
}

footer.right {
  justify-content: right;
  padding-right: 15%;
}

.feedback {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: x-large;
}

.circle-btn {
  width: 70px;
  height: 70px;
  background-size: var(--size-xxl);
  background-position: center;
  background-repeat: no-repeat;
}

.circle-btn.right{
  background-image: url('../assets/icon/correct.svg');
}

.circle-btn.wrong{
  background-image: url('../assets/icon/incorrect.svg');
}

.feedback.correct {
  color: var(--color-success-200);
}

.feedback.incorrect {
  color: var(--color-danger-200);
}
/* view video */
.head-media{
  width: 70%;
  margin: 0 auto; /* Centra horizontalmente */
  padding-bottom: 10px;
}
.main-media{
  width: 70%;
  margin: 0 auto; /* Centra horizontalmente */
  letter-spacing: 0.02em;
}
.content-viewer {
  border-radius: var(--size-xxs);
  height: 25em;
  background-size: 60em;
  background-position: center;
}
.content-viewer.video {
  background-image: url('https://plus.unsplash.com/premium_photo-1710324884987-7c67e9986713?crop=entropy&cs=srgb&fm=jpg&ixid=M3w3MjAxN3wwfDF8c2VhcmNofDUzfHx2aWRlbyUyMGxlc3NvbiUyMHNjaG9vbHxlbnwwfHx8fDE3NTA2NjQxMzd8MA&ixlib=rb-4.1.0&q=85&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450');
}
.content-viewer.game {
  background-image: url('https://plus.unsplash.com/premium_photo-1744535749882-24715587acd5?crop=entropy&cs=srgb&fm=jpg&ixid=M3w3MjAxN3wwfDF8c2VhcmNofDIxfHxjYXJ0b29uJTIwZ2FtZSUyMGxhbmRzY2FwZXxlbnwwfHx8fDE3NTA2NjcxNDl8MA&ixlib=rb-4.1.0&q=85&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450');
}

/* view profile perfil */
/* formulario */
label {
  display: block;
  margin-top: 15px;
  letter-spacing: 0.02em;
}

input{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 2px solid var(--color-primary-900);
  border-radius: 10px;
  background-color: var(--color-neutral-800);
}

input:focus {
  outline: none; /* Evita el borde azul por defecto en navegadores */
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: 100%;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  height: 24px;
  width: 24px;
  background-color: unset;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.toggle-password.hide{
  background-image: url('../assets/icon/eye-hide-on.svg');
}

.toggle-password.show {
  background-image: url('../assets/icon/eye-hide-off.svg');
}

.toggle-password:hover {
  color: white;
}

.avatar-wrapper {
  position: relative;
  display: inline-block;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid var(--color-neutral-800);
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.edit-btn {
  position: absolute;
  top: 1px;
  right: 4px;
  width: 28px;
  height: 28px;
  background-color: var(--color-primary-500);
  border: 2px solid var(--color-neutral-800);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.edit-btn:hover {
  background-color:var(--color-primary-700);
}

.transparent-btn{
  background-color: unset;
  color: var(--color-danger-200);
}

.text-button {
  background: none;
  border: none;
  padding: 0;
  color: var(--color-danger-200);
  cursor: pointer;
  text-decoration: none;
}
/* listado para borrar cursos */
.li-course {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 8px 12px;
}

.delete-button {
  background: none;
  border: none;
  color: var(--color-primary-500); /* Cambia según tu paleta */
  text-decoration: underline;
  cursor: pointer;
  padding: 4px 8px;
  justify-self: end;
}


/** view courses pagina de cursos como tarjetas*/
.main-courses {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas fijas */
  gap: 1.5rem;
  padding-top: 1.5rem;
}
.border-courses{
  border-radius: var(--border-radius-sm);
  padding: 1.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 260px;
  max-height: 200px;
}
.border-courses:hover{
    background-color: var(--color-neutral-950);
}
.border-yellow{
  border: var(--border-line-300) solid var(--color-tertiary-500);
}
.border-neutral{
  border: var(--border-line-300) solid var(--color-neutral-800);
}

.check-btn{
  width: 26px;
  height: 26px;
  align-self:flex-end;
  top: 10px;
  right: 10px;
  border: none;
  background-image: url('../assets/icon/btn-check.svg');
  background-color: unset;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px;
}
.img-lg{
  max-width: 100px;
  align-self: center;
  padding-bottom: 0.5em;
}

/** view unityEnd */
.img-man{
  margin-top: 3em;
  height: 200px;
  background-image: url('../assets/img//man-graduated.svg');
  background-size: 120px;
  background-position: center;
  background-repeat: no-repeat;
}
.pcard{
  padding: 80px 0px 10px;
}